<section class="formSubmission">

  <h4>Topic {{title}}</h4>

  <form [formGroup]="topicForm" (ngSubmit)="onSubmit()" class="gridTable row-1 forms">

    <!-- name -->
    <mat-form-field>
      <mat-label>Topic name</mat-label>
      <input matInput formControlName="name" maxlength="100">
      <mat-error *ngIf="topicForm.get('name').errors?.required">
        Topic name is required!
      </mat-error>
    </mat-form-field>

    <!-- description -->
    <mat-form-field>
      <mat-label>Topic description</mat-label>
      <input #description matInput formControlName="description" maxlength="100">
      <mat-hint align="end">{{description.value.length}} / 100 </mat-hint>
      <mat-error *ngIf="topicForm.get('description').errors?.required">
        Topic description is required!
      </mat-error>
    </mat-form-field>

    <!-- imgPath -->
    <app-uploader [imagePath]="getImgSrc()" title="Upload an image for the topic" (bodyResponse)="imgListener($event)"></app-uploader>
    <input type="hidden" formControlName=imagePath />

    <!-- submit -->
    <button mat-raised-button color="accent" [disabled]='topicForm.invalid' type="submit"
      class="btn btn-warning">Submit</button>
  </form>
</section>
