<section class="container">
  <div class="content">
    <section class="header">
      <img class="card-avatar card-avatar--{{researcher.type.toLowerCase()}}" src="{{url + researcher.imagePath}}">
      <div>
        <h2>{{researcher.name}}</h2>
        <p class="header-type header-type--{{researcher.type.toLowerCase()}}">{{researcher.type}}</p>
        <P>{{researcher.headline}}</P>
      </div>
    </section>
    <section class="body">
      <div class="about">
        <div *ngIf="researcher.about">
          <h4>Sobre</h4>
          <P>{{researcher.about}}</P>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="researcher.lattesUrl">
          <h4>Lattes</h4>
          <p>
            <a onmouseover="this.style.color='yellow';"
              onmouseout="this.style.color='#969696';" style="color: #969696;"
              target="_blank" [href]="researcher.lattesUrl">{{researcher.lattesUrl}}</a>
          </p>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="researcher.phoneNumber">
          <h4>Phone Number</h4>
          <p>{{researcher.phoneNumber}}</p>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="researcher.email">
          <h4>Email</h4>
          <p>{{researcher.email}}</p>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="researcher.socialNetworks.length > 0">
          <h4>Social networks</h4>
          <p>{{researcher.socialNetworks}}</p>
        </div>
      </div>
    </section>
  </div>
</section>
