<footer class="container">

  <div class="about-company">
    <h2>LCC - Laboratórtio de Computação Científica</h2>
    <p class="pr-5 text-white-50">Coordenador geral: Prof. Dr. Clarimar José Coelho. Pontifícia Universidade Católica de
      Goiás </p>
  </div>

  <div class="links">
    <h4>Links</h4>
    <ul>
      <li><a routerLink=''>Home</a></li>
      <li><a routerLink='/aboutUS'>Sobre Nós</a></li>
      <li><a routerLink='/posts'>News</a></li>
      <li><a routerLink='/admin'>Restrict Access</a></li>
    </ul>
  </div>

  <div class="location">
    <h4>Localização</h4>
    <p>Praça Universitária, 2 - Setor Leste Universitário, Goiânia - GO, 74605-220, Brasil</p>
    <p><i class="fa fa-phone mr-3"></i>(11) 3456-7890</p>
    <p><i class="fa fa-envelope-o mr-3"></i>arlindopucgo@gmail.com</p>
  </div>

  <div class="footer">
    <div class="copyright">
      <p><small>© 2019 LCC. All Rights Reserved.</small></p>
      <a href="https://www.linkedin.com/in/joao-paulo-borges/"> Made by: João
        Paulo Borges</a>
    </div>
  </div>
</footer>